### [Kanav sir github](https://github.com/bansalkanav/Machine_Learning_and_Deep_Learning)
### `List comprehensions`

In [1]:
lst1 = [1,10,2,4,7]
lst2 = [i**2 for i in lst1]
lst2

[1, 100, 4, 16, 49]

In [2]:
lst3 = [i**3
        for i in lst1]
lst3

[1, 1000, 8, 64, 343]

In [3]:
lst4 = [i**2 for i in lst1 if i%2!=0]
lst4

[1, 49]

### `Labmda function`

In [4]:
square = lambda x:x**2   # no more a anonymous function

In [5]:
square(5)

25

### `Ternary operator`

In [6]:
# 1 if x%2==0 else 0

### `Handling Missing Values`
- KNN imputer

### `Case Study`

In [7]:
import pandas as pd
import numpy as np

In [8]:
data = pd.read_csv('CarPrice_Assignment.csv')
data.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [9]:
data.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [10]:
data = data.rename(columns={'car_ID': 'Car ID','symboling':'Symboling',
                           'CarName':'Car Name','fueltype':'Fuel Type',
                            'aspiration':'Aspiration','doornumber':'Door Number',
                            'carbody':'Car Body','drivewheel':'Drive Wheel',
                            'enginelocation':'Engine Location','wheelbase':'Wheel Base',
                            'carlength':'Car Length','carwidth':'Car Width',
                            'carheight':'Car Height','curbweight':'Curb Weight',
                            'enginetype':'Engine Type','cylindernumber':'Cylinder Number',
                            'enginesize':'Engine Size','fuelsystem':'Fuel System',
                            'boreratio':'Bore Ratio','stroke':'Stroke',
                            'compressionratio':'Compression Ratio','horsepower':'Horsepower',
                            'peakrpm':'Peak Rpm','citympg':'City Mpg','highwaympg':'Highway Mpg',
                            'price':'Price'
                           })

In [11]:
data.head()

,Car ID,Symboling,Car Name,Fuel Type,Aspiration,Door Number,Car Body,Drive Wheel,Engine Location,Wheel Base,...,Engine Size,Fuel System,Bore Ratio,Stroke,Compression Ratio,Horsepower,Peak Rpm,City Mpg,Highway Mpg,Price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

#### `Kanav sir Strategy`
- **snake casing**
    - convert column names to lower case
    - try to remove all spaces with underscore

In [12]:
col_names = [col.lower().replace(' ','_') for col in data.columns]

In [13]:
col_names

['car_id',
 'symboling',
 'car_name',
 'fuel_type',
 'aspiration',
 'door_number',
 'car_body',
 'drive_wheel',
 'engine_location',
 'wheel_base',
 'car_length',
 'car_width',
 'car_height',
 'curb_weight',
 'engine_type',
 'cylinder_number',
 'engine_size',
 'fuel_system',
 'bore_ratio',
 'stroke',
 'compression_ratio',
 'horsepower',
 'peak_rpm',
 'city_mpg',
 'highway_mpg',
 'price']

#### `col.strip().lower() if column name contains unnecessary spaces`

In [14]:
data.columns = col_names

In [15]:
data.head()

,car_id,symboling,car_name,fuel_type,aspiration,door_number,car_body,drive_wheel,engine_location,wheel_base,...,engine_size,fuel_system,bore_ratio,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

#### `As part of case study we will deal: car_name , door_number, peak_rpm`

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car_id             205 non-null    int64
 1   symboling          205 non-null    int64
 2   car_name           205 non-null    object
 3   fuel_type          205 non-null    object
 4   aspiration         205 non-null    object
 5   door_number        205 non-null    object
 6   car_body           205 non-null    object
 7   drive_wheel        205 non-null    object
 8   engine_location    205 non-null    object
 9   wheel_base         205 non-null    float64
 10  car_length         205 non-null    float64
 11  car_width          205 non-null    float64
 12  car_height         205 non-null    float64
 13  curb_weight        205 non-null    int64
 14  engine_type        205 non-null    object
 15  cylinder_number    205 non-null    object
 16  engine_size        205 non-null    int64
 17  fuel_system        205 non-null    object
 18  bore_ratio         205 non-null    float64
 19  stroke             205 non-null    float64
 20  compression_ratio  205 non-null    float64
 21  horsepower         205 non-null    int64
 22  peak_rpm           205 non-null    int64
 23  city_mpg           205 non-null    int64
 24  highway_mpg        205 non-null    int64
 25  price              205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [17]:
data['car_name'].value_counts()

toyota corona               6
toyota corolla              6
peugeot 504                 6
subaru dl                   4
mazda 626                   3
                           ..
bmw z4                      1
plymouth fury gran sedan    1
volkswagen rabbit custom    1
mazda rx2 coupe             1
nissan leaf                 1
Name: car_name, Length: 147, dtype: int64

In [18]:
data['door_number'].value_counts()

four    115
two      90
Name: door_number, dtype: int64

In [19]:
data['peak_rpm'].value_counts()

5500    37
4800    36
5000    27
5200    23
5400    13
6000     9
5250     7
5800     7
4500     7
5100     5
4150     5
4200     5
4750     4
4350     4
4250     3
4400     3
5900     3
6600     2
5750     1
5300     1
4650     1
5600     1
4900     1
Name: peak_rpm, dtype: int64

In [20]:
pd.crosstab(data['door_number'],data['car_body'])

car_body     convertible  hardtop  hatchback  sedan  wagon
door_number
four                   0        0         10     80     25
two                    6        8         60     16      0

In [21]:
pd.crosstab(data['door_number'],data['engine_location'])

engine_location  front  rear
door_number
four               115     0
two                 87     3

#### `If data contain abnormality`

In [22]:
data['door_number'].replace(to_replace='?',value='four',regex=False,inplace=True)

#### `convert some data into exact format`

In [23]:
data['door_number'].apply(lambda x: 4 if x == 'four' else 2)

0      2
1      2
2      2
3      4
4      4
      ..
200    4
201    4
202    4
203    4
204    4
Name: door_number, Length: 205, dtype: int64

In [24]:
data['door_number'].value_counts()

four    115
two      90
Name: door_number, dtype: int64

#### `but data do not changed, lets assign`

In [25]:
data.door_number = data['door_number'].apply(lambda x: 4 if x == 'four' else 2)

In [26]:
data['door_number'].value_counts()

4    115
2     90
Name: door_number, dtype: int64

In [27]:
data.head()

,car_id,symboling,car_name,fuel_type,aspiration,door_number,car_body,drive_wheel,engine_location,wheel_base,...,engine_size,fuel_system,bore_ratio,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,1,3,alfa-romero giulia,gas,std,2,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,2,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,2,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,4,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,4,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [28]:
data.door_number = data.door_number.astype(int)

#### `remove abnormalities where 5000 is written as 5k`

In [29]:
# data.peak_rpm.apply(lambda x:(int(x.replace('K',''))*1000) if 'K' in x else int(x))

#### `remove abnormalities where 5000 is written as 5k or 5,000`

In [30]:
# data.peak_rpm.apply(lambda x:(int(x.replace('K',''))*1000) if 'K' in x else int(x.replace(',','')) if ',' in x else int(x))

In [31]:
data.cylinder_number.value_counts()

four      159
six        24
five       11
eight       5
two         4
twelve      1
three       1
Name: cylinder_number, dtype: int64

In [32]:
data.car_name[:20]

0           alfa-romero giulia
1          alfa-romero stelvio
2     alfa-romero Quadrifoglio
3                  audi 100 ls
4                   audi 100ls
5                     audi fox
6                   audi 100ls
7                    audi 5000
8                    audi 4000
9          audi 5000s (diesel)
10                    bmw 320i
11                    bmw 320i
12                      bmw x1
13                      bmw x3
14                      bmw z4
15                      bmw x4
16                      bmw x5
17                      bmw x3
18            chevrolet impala
19       chevrolet monte carlo
Name: car_name, dtype: object

#### `extract company name`

In [35]:
data.car_name.apply(lambda x:x.split()[0])

0      alfa-romero
1      alfa-romero
2      alfa-romero
3             audi
4             audi
          ...
200          volvo
201          volvo
202          volvo
203          volvo
204          volvo
Name: car_name, Length: 205, dtype: object

In [84]:
data['car_company'] = data.car_name.apply(lambda x:x.split()[0])

In [85]:
data.car_company.value_counts()

toyota         31
nissan         17
mazda          15
mitsubishi     13
honda          13
subaru         12
peugeot        11
volvo          11
dodge           9
volkswagen      9
bmw             8
buick           8
audi            7
plymouth        7
saab            6
isuzu           4
porsche         4
chevrolet       3
alfa-romero     3
jaguar          3
maxda           2
renault         2
vw              2
vokswagen       1
Nissan          1
porcshce        1
mercury         1
toyouta         1
Name: car_company, dtype: int64

In [86]:
data.columns

Index(['car_id', 'symboling', 'car_name', 'fuel_type', 'aspiration',
       'door_number', 'car_body', 'drive_wheel', 'engine_location',
       'wheel_base', 'car_length', 'car_width', 'car_height', 'curb_weight',
       'engine_type', 'cylinder_number', 'engine_size', 'fuel_system',
       'bore_ratio', 'stroke', 'compression_ratio', 'horsepower', 'peak_rpm',
       'city_mpg', 'highway_mpg', 'price', 'car_company'],
      dtype='object')

In [87]:
data.loc[(data['car_company'] == 'vw') | (data['car_company'] == 'vokswagen'),'car_company'] = 'volkswagen'

In [88]:
data.loc[data['car_company'] == 'porcshce','car_company'] = 'porsche'

In [89]:
data.loc[data['car_company'] == 'toyouta','car_company'] = 'toyota'

In [90]:
data.loc[data['car_company'] == 'Nissan','car_company'] = 'nissan'

In [91]:
data.loc[data['car_company'] == 'maxda','car_company'] = 'mazda'

#### `Can also be done by lambda function`

In [92]:
# data.car_company.apply(lambda x:'volkawegen' if x=='vw' or x=='vokswagen' else 
#                       'porsche' if x == 'porcshce' else 
#                       'toyota' if x == 'toyouta' else 
#                       'nissan' if x == 'Nissan' else 
#                       'mazda' if x == 'maxda' else x)

In [93]:
data.car_company.value_counts()

toyota         32
nissan         18
mazda          17
honda          13
mitsubishi     13
subaru         12
volkswagen     12
volvo          11
peugeot        11
dodge           9
buick           8
bmw             8
plymouth        7
audi            7
saab            6
porsche         5
isuzu           4
alfa-romero     3
jaguar          3
chevrolet       3
renault         2
mercury         1
Name: car_company, dtype: int64

In [94]:
data.drop('car_name',axis=1,inplace=True)

In [95]:
data.columns

Index(['car_id', 'symboling', 'fuel_type', 'aspiration', 'door_number',
       'car_body', 'drive_wheel', 'engine_location', 'wheel_base',
       'car_length', 'car_width', 'car_height', 'curb_weight', 'engine_type',
       'cylinder_number', 'engine_size', 'fuel_system', 'bore_ratio', 'stroke',
       'compression_ratio', 'horsepower', 'peak_rpm', 'city_mpg',
       'highway_mpg', 'price', 'car_company'],
      dtype='object')

### `sagregate data`

In [97]:
categorical_data = data.select_dtypes(include=['object'])
categorical_data.head()

,fuel_type,aspiration,car_body,drive_wheel,engine_location,engine_type,cylinder_number,fuel_system,car_company
0,gas,std,convertible,rwd,front,dohc,four,mpfi,alfa-romero
1,gas,std,convertible,rwd,front,dohc,four,mpfi,alfa-romero
2,gas,std,hatchback,rwd,front,ohcv,six,mpfi,alfa-romero
3,gas,std,sedan,fwd,front,ohc,four,mpfi,audi
4,gas,std,sedan,4wd,front,ohc,five,mpfi,audi

In [98]:
numerical_data = data.select_dtypes(include=['int64','float64'])
numerical_data.head()

,car_id,symboling,wheel_base,car_length,car_width,car_height,curb_weight,engine_size,bore_ratio,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,1,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115,5500,18,22,17450.0

In [100]:
len(categorical_data.columns)

9

In [102]:
len(numerical_data.columns)

16

In [103]:
data.shape

(205, 26)

#### `we miss one columns`

In [105]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car_id             205 non-null    int64
 1   symboling          205 non-null    int64
 2   fuel_type          205 non-null    object
 3   aspiration         205 non-null    object
 4   door_number        205 non-null    int32
 5   car_body           205 non-null    object
 6   drive_wheel        205 non-null    object
 7   engine_location    205 non-null    object
 8   wheel_base         205 non-null    float64
 9   car_length         205 non-null    float64
 10  car_width          205 non-null    float64
 11  car_height         205 non-null    float64
 12  curb_weight        205 non-null    int64
 13  engine_type        205 non-null    object
 14  cylinder_number    205 non-null    object
 15  engine_size        205 non-null    int64
 16  fuel_system        205 non-null    object
 17  bore_ratio         205 non-null    float64
 18  stroke             205 non-null    float64
 19  compression_ratio  205 non-null    float64
 20  horsepower         205 non-null    int64
 21  peak_rpm           205 non-null    int64
 22  city_mpg           205 non-null    int64
 23  highway_mpg        205 non-null    int64
 24  price              205 non-null    float64
 25  car_company        205 non-null    object
dtypes: float64(8), int32(1), int64(8), object(9)
memory usage: 41.0+ KB

#### `convert int 32 to 64 of door number to take all numerical columns`

In [107]:
for col in data.columns:
    if data[col].dtype == 'int32':
        print(col)

door_number

In [111]:
for col in data.columns:
    if data[col].dtype == 'int32':
        data[col] = data[col].astype('int64')

In [112]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car_id             205 non-null    int64
 1   symboling          205 non-null    int64
 2   fuel_type          205 non-null    object
 3   aspiration         205 non-null    object
 4   door_number        205 non-null    int64
 5   car_body           205 non-null    object
 6   drive_wheel        205 non-null    object
 7   engine_location    205 non-null    object
 8   wheel_base         205 non-null    float64
 9   car_length         205 non-null    float64
 10  car_width          205 non-null    float64
 11  car_height         205 non-null    float64
 12  curb_weight        205 non-null    int64
 13  engine_type        205 non-null    object
 14  cylinder_number    205 non-null    object
 15  engine_size        205 non-null    int64
 16  fuel_system        205 non-null    object
 17  bore_ratio         205 non-null    float64
 18  stroke             205 non-null    float64
 19  compression_ratio  205 non-null    float64
 20  horsepower         205 non-null    int64
 21  peak_rpm           205 non-null    int64
 22  city_mpg           205 non-null    int64
 23  highway_mpg        205 non-null    int64
 24  price              205 non-null    float64
 25  car_company        205 non-null    object
dtypes: float64(8), int64(9), object(9)
memory usage: 41.8+ KB

In [114]:
data.head()

,car_id,symboling,fuel_type,aspiration,door_number,car_body,drive_wheel,engine_location,wheel_base,car_length,...,fuel_system,bore_ratio,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price,car_company
0,1,3,gas,std,2,convertible,rwd,front,88.6,168.8,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,alfa-romero
1,2,3,gas,std,2,convertible,rwd,front,88.6,168.8,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,alfa-romero
2,3,1,gas,std,2,hatchback,rwd,front,94.5,171.2,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,alfa-romero
3,4,2,gas,std,4,sedan,fwd,front,99.8,176.6,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0,audi
4,5,2,gas,std,4,sedan,4wd,front,99.4,176.6,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0,audi

# `END -------------------------------------------------`